{% extends 'shared/base.html' %}
{% load staticfiles %}
{% block title %}Dynamos News List{% endblock %}
{% block content %}
<div id="blog" class="contain-wrapp padding-bot50">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					<div class="title-head centered">
						<h3>All News</h3>
					</div>
				</div>
			</div>
			<div class="row">
					<div class="pagination pagination-center" style="margin-bottom:40px;">
							<span class="step-links">
								{% if news_list.has_previous %}
									<a href="?page=1" class="dy-pagination">&laquo; first</a>
									<a href="?page={{ news_list.previous_page_number }}" class="dy-pagination">previous</a>
								{% endif %}
						
								<span class="current dy-pagination">
									Page {{ news_list.number }} of {{ news_list.paginator.num_pages }}.
								</span>
						
								{% if news_list.has_next %}
									<a href="?page={{ news_list.next_page_number }}" class="dy-pagination">next</a>
									<a href="?page={{ news_list.paginator.num_pages }}"  class="dy-pagination">last &raquo;</a>
								{% endif %}
							</span>
						</div>
				{% if news_list %}
					{% for news in news_list %}
				<div class="col-md-4">
					<div class="recent-widget recent-article">
						<div class="post"  style="background-color: #31387d;">
							<img src="{{news.image.url}}" class="img-responsive" alt="{{image.name}}" style="height: 240px;width:auto;">
							<div class="dy-padding">
							<ul class="post-meta">
								<li><a href="#"><i class="fa fa-calendar"></i> {{news.date_created}}</a></li>
								<li><a href="#"><i class="fa fa-user"></i> Admin</a></li>
								<!-- <li><a href="#"><i class="fa fa-comments"></i> 0</a></li> -->
							</ul>
							<hr>
							<h6><a href="#"  style="color:#a94442;">{{news.heading|upper|truncatechars:25}}..</a></h6>

							<p><a href="{% url 'news:news_detail' news.id %}" class="btn btn-default btn-bordered btn-sm">Read more</a></p>
							<hr>
						</div>
						</div>
					</div>
				</div>
				{% endfor %}
				{% else %}
				<div class="col-md-12">
					<h2>no news posted yet</h2>
				</div>
                {% endif %}
			</div>
		
		</div>
	</div>
{% endblock %}